<!-- File: /src/main/webapp/components/sidebar.html -->
<div class="sidebar">
    <div class="logo">
        <a href="/src/main/webapp/pages/home.html">
            <h2>FASHION <span>STYLE</span></h2>
        </a>
    </div>
    <ul>
        <li class="menu-item" data-target="profile.html">THÔNG TIN CÁ NHÂN</li>
        <li class="menu-item" data-target="change-password.html">MẬT KHẨU</li>
        <li class="menu-item" data-target="promotions.html">KHUYẾN MÃI</li>
        <li class="menu-item" data-target="orders.html">DANH SÁCH ĐƠN HÀNG</li>
        <li class="menu-item" id="logout">ĐĂNG XUẤT</li>
    </ul>
</div>